/* @import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap'); */
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 1em;
}

nav,
header,
main {
  max-width: 1200px;
  margin: auto;
}

/*********************/
/* utility & main classes */

.black_cl {
  color: rgba(24, 31, 37, 1);
}
.bolder {
  font-weight: bolder;
}
.light_font {
  color: rgb(202, 202, 202);
}
.main_cl {
  color: rgb(86, 210, 216);
}
.fl {
  float: left;
}
.mb-10 {
  margin-bottom: 10px;
}
.fd-col {
  flex-direction: column;
}

/********************************/
/* Navigaatio alueen tyylittely */

nav {
  background-color: rgb(30, 39, 46);
  color: #fff;
  padding: 0.5rem 4rem;
  font-weight: 100;
  font-size: 1.2em;
  box-shadow: 0 8px 16px -6px black;
  height: 100px;
}

nav ul {
  padding-top: 29px;
  list-style-type: none;
}

a {
  text-decoration: none;
}

nav ul li:first-child a {
  background-image: linear-gradient(45deg, rgb(86, 210, 216), rgb(65 77 159));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: larger;
  font-family: 'Roboto Slab', serif;
  font-weight: 900;
  margin-right: 40px;
}

nav ul a {
  color: rgb(197, 197, 197);
  padding: 0.6rem;
  margin: 0 0.25em;
  font-size: smaller;
  transition: color 0.5s;
}

nav ul li {
  float: left;
}

nav ul li a:hover {
  color: rgb(206, 255, 149);
}

/*********************/
/* Herokuva */

#taustakuva {
  max-width: 1200px;
  margin: auto;
  width: 100%;
  height: 300px;
  background-image: url("/img/kuva1.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

/*********************/
/* Infoalue */

.info-area {
  margin-top: 50px;
}

#info-text {
  text-align: center;
  font-size: 1.5em;
}

/*********************/
/* About section */

.about-us {
  min-height: 400px;
  background-color: #f0f0f0;
  background-image: url("../img/kuva1.jpg");
  background-position: right;
  background-size: cover;
  padding: 80px;
  padding-right: 30%;
  color: black;
  position: relative;
  margin-top: 50px;
}

.about-us p {
  margin-bottom: 15px;
}

.card-inside {
  margin-right: 50px;
  margin-bottom: 30px;
  max-width: 330px;
  border-radius: 20px;
}

/*********************/
/* BMI section */

.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 500px;
  margin: 50px auto;
  padding: 30px;
}

label {
  display: block;
}

input[type='text'] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn {
  margin: 20px 0;
  padding: 8px;
  color: white;
  background-color: rgb(30, 39, 46);
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

/*********************/
/* Footer */

footer {
  width: 100%;
  text-align: center;
  padding-top: 40px;
  background-color: rgb(117, 11, 44);
  height: 100px;
  margin-top: 50px;
  color: #fefefe;
}
